body{
    font-family: Arial, sans-serif;
}
nav {
    width: 100%;
    height: 60px;
    background: #344051;
}
.logo{
    color: #fff;
    font-size: 30px;
    line-height: 60px;
    padding-left: 388px;
     float:left;
}
.menu{
    float:left;
    padding-left: 432px;
    
}
.menu li{
    float: left;
     line-height: 60px;
    color: #fff;
    margin-right: 40px;
    font-size: 16px;
    text-transform: uppercase;
}
.main{
    width: 100%;
    height: calc(100% - 60px);
    background: url(../img/Boy.png) 90% 100%/auto 85% no-repeat, url(../img/%D0%A4%D0%BE%D0%BD.jpg) center/cover no-repeat;
}
.title_container{
    float: left;
    margin: 432px 0px 0px 404px;
    color: #2c384a;
    text-align: center;
}
.title_container h1{
    font-size: 60px;
    font-weight: bold;
}
.title_container h4{
    margin-top: 40px;
    font-size:  22px;
    color: #79818d;
}
.title_container input{
    height: 40px;
    text-align: center;
    border: 2px solid #6d7682;
    background: none;
    border-radius: 5px;
    color: #6d7682;
    font-size: 13px;
    padding: 0px 16px;
    margin: 58px 28px 0px 14px;
}
.heading>h2{
    font-weight: bold;
    font-size:  30px;
    margin-top: 110px;
    height: 50px;
    text-align: center;
     
   }
.heading{
    width: 100%;
    background:  url(../img/%D0%9F%D0%BE%D0%BB%D0%BE%D1%81%D0%BA%D0%B0.jpg) 50% 40px no-repeat, url(../img/Pare.jpg) 50% 70px no-repeat ;
}
.heading>h6{
    margin-left: 593px;
    max-width: 800px;
    font-size:  16px;
    margin-top: 250px;
   
}
.heading input{
    height: 30px;
    text-align: center;
    margin-top: 38px;
    margin-left: 870px;
    border: 2px solid #6f707e;
    border-radius: 5px;
    background: none;
    color: #6f707e;
    font-size:  13px;
    padding: 5px 5px 5px 30px;
    background:  url(../img/%D0%B8%D0%BA%D0%BE%D0%BD%D0%BA%D0%B0.png) 10% 50% no-repeat;
}
.heading2>h2{
     font-weight: bold;
    font-size:  30px;
    margin-top: 80px;
    height: 50px;
    text-align: center;
    background:  url(../img/%D0%9F%D0%BE%D0%BB%D0%BE%D1%81%D0%BA%D0%B0.jpg) 50% 40px no-repeat;
    }
.heading2 {
    width: 100%;
    background:  url(../img/%D0%9F%D0%BE%D0%BB%D1%83%D1%84%D0%BE%D0%BD.jpg) center no-repeat;
}
.heading2>h3{
    font-weight: bold;
    float: left;
    color: #cf7600;
    font-size:  19px;
    text-indent: 477px; 
    word-spacing: 155px; 
   
}
.heading2>span{
    float: left;
    text-align: center;
    margin-left: 10%;
    line-height: 20px; 
   
}
.heading2{
  
     background:  url(../img/%D0%9D%D0%BE%D1%83%D1%82.png) 505px no-repeat, url(../img/Скобки.png) 750px no-repeat, url(../img/ракета.png) 1083px no-repeat, url(../img/мегафон.png) 1375px no-repeat;
    
}